<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img
                src="https://img.freepik.com/free-vector/cute-little-goose-cartoon-flying_188253-3207.jpg?w=2000"
                alt=""
                width="45"
                height="45"
                class="rounded-circle"
            />
        </a>
        <a class="navbar-brand" href="#">GosGos</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Domov</a>
                <a class="nav-link" href="/expenses">Stroški</a>
                <a class="nav-link" href="/categories">Kategorije</a>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDarkDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Dodaj
                    </a>
                    <ul
                        class="dropdown-menu dropdown-menu-dark"
                        aria-labelledby="navbarDarkDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" href="/expenses/new"
                                >Strošek</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/categories/new"
                                >Kategorijo</a
                            >
                        </li>
                    </ul>
                </li>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                <a class="nav-link" href="/login">Prijava</a>
                <a class="nav-link" href="/register">Registracija</a>
                <% } else { %>
                <a class="nav-link" href="/logout">Odjava</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
