<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://img.freepik.com/free-vector/cute-little-goose-cartoon-flying_188253-3207.jpg?w=2000" alt="" width="45" height="45">
        </a>
        <a class="navbar-brand" href="#">GosGos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Domov</a>
                <a class="nav-link" href="/expenses">Stroški</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dodaj
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/expenses/new">Strošek</a></li>
                        <li><a class="dropdown-item" href="/expenses/addCategory">Kategorijo</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Test...</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Uredi
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/expenses/edit">Strošek</a></li>
                        <li><a class="dropdown-item" href="/expenses/edit/Category">Kategorijo</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>

