<% layout('layouts/boilerplate')%>
<div class="row">
    <h1>Dodaj na WishList</h1>
    <div class="col-md-6">
        <form
            action="/whiskies/wishlist"
            class="validated-form"
            method="POST"
            id="addNewExpense"
            novalidate
        >
            <div class="mb-3">
                <label for="name" class="form-label">Naslov</label>
                <div class="input-group">
                    <input
                        id="title"
                        name="title"
                        type="text"
                        class="form-control"
                        aria-label="WhishList title"
                        required
                    />
                    <div class="invalid-feedback">Naslov je obvezno.</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Vsebina</label>
                <div class="input-group">
                    <textarea
                        id="content"
                        name="content"
                        type="text"
                        class="form-control"
                        required
                    ></textarea>
                    <div class="invalid-feedback">Vsebina je obvezen.</div>
                </div>
            </div>

            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-secondary">Dodaj</button>
            </div>
        </form>
    </div>
</div>
