<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12">
        <div class="camera">
            <video id="video"></video>
            <button id="startbutton">Take photo</button>
        </div>
        <canvas id="canvas"> </canvas>
    </div>
</div>
<script src="/javascripts/camera.js"></script>
