<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Expense</title>
</head>
<body>
    <h1>Add New Expense</h1>
    <form action="/expenses" method="POST" id="addNewExpense">
        <label for="category">Izberi kategorijo</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category.name%>"><%=category.name.toUpperCase()%></option>
            <% } %> 
        </select>
        <button>Add New</button>
    </form>
    <script>
        const categories = <%- JSON.stringify(categories) %>
    </script>
    <script src="/javascripts/getSubCategories.js" ></script>
</body>
</html>