<% layout('layouts/boilerplate')%>
<div class="row">
    <div
        class="col-md-12 mb-3 d-flex align-items-center justify-content-between"
    >
        <h1>Pregled stroškov</h1>
    </div>
</div>
