#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 380px;
    height: 640px;
}

#canvas {
    display: none;
}

.camera {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 380px;
    height: 640px;
    display: inline-block;
}
