<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12">
        <h1>Kategorije</h1>
    </div>

    <div class="col-md-12">
        <% for(let category of categories){ %>
        <div> <%=category.name%></div>
            <% for(let subCategory of category.subCategories){ %>
            <div> <%=subCategory.name%></div>
            <% } %>
        </div>
        <% } %>
    </div>
</div>
