<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12 mb-3">
        <h1>Kategorije</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% for(let category of categories){ %>
            <div
                class="d-grid p-2"
                style="background-color: <%= category.color %>"
            >
                <strong><%=category.name.toUpperCase()%></strong>
                <a href="/categories/<%= category.id %>/edit">Link</a>
            </div>
            <hr />
            <% for(let subCategory of category.subCategories){ %>
            <div><%=subCategory.name%></div>
            <% } %>
            <div class="mb-4"></div>
            <% } %>
        </div>
    </div>
</div>
