<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12 mb-3">
        <h1>Kategorije</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% for(let category of categories){ %>
            <div
                class="d-flex p-2 align-items-center justify-content-between"
                style="background-color: <%= category.color %>"
            >
                <strong><%=category.name.toUpperCase()%></strong>
                <a
                    class="btn btn-light btn-sm"
                    href="/categories/<%= category.id %>/edit"
                    >Uredi</a
                >
            </div>
            <hr />
            <% for(let subCategory of category.subCategories){ %>
            <div><%=subCategory.name%></div>
            <% } %>
            <div class="mb-4"></div>
            <% } %>
        </div>
    </div>
</div>
