<% layout('layouts/boilerplate')%>
<div class="row">
    <h1>Dodaj kategorijo</h1>
    <div class="col-md-6">
        <form
            action="/categories"
            class="validated-form"
            method="POST"
            id="addNewExpense"
            novalidate
        >
            <div class="row">
                <div class="mb-3 col-8">
                    <label for="category" class="form-label">Kategorija</label>
                    <div class="input-group">
                        <input
                            id="category"
                            name="name"
                            type="text"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">
                            Kategorija je obvezna.
                        </div>
                    </div>
                </div>
                <div class="mb-3 ps-4 col-2">
                    <label for="exampleColorInput" class="form-label"
                        >Barva</label
                    >
                    <input
                        type="color"
                        class="form-control form-control-color"
                        id="exampleColorInput"
                        value="#563d7c"
                        title="Izberi barvo kategorije"
                        name="color"
                        required
                    />
                    <div class="invalid-feedback">
                        Barva glavne kategorije je obvezna.
                    </div>
                </div>
                <div class="mb-3 pe-4 col-2">
                    <label for="flexSwitchCheckDefault" class="form-label"
                        >Aktivna</label
                    >
                    <div class="mt-2 mx-2">
                        <div class="form-check form-switch">
                            <input
                                type="checkbox"
                                class="form-check-input form-control"
                                id="flexSwitchCheckDefault"
                                checked
                                autocomplete="off"
                                role="switch"
                                name="active"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div id="subCatBody" class="mb-3">
                <label class="form-label">Podkategorije:</label>
                <button
                    id="addSubCategory"
                    type="button"
                    class="btn btn-outline-success ms-2 mb-2"
                >
                    <b>+</b>
                </button>
                <button
                    id="deleteSubCategory"
                    type="button"
                    class="btn btn-outline-warning mb-2"
                >
                    <b>-</b>
                </button>
            </div>

            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-secondary">Dodaj</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascripts/addCats.js"></script>
