<% layout('layouts/boilerplate')%>
<div class="row">
    <h1>Dodaj kategorijo</h1>
    <div class="col-md-6">
        <form
            action="/categories"
            class="validated-form"
            method="POST"
            id="addNewExpense"
            novalidate
        >
            <div class="row">
                <div class="mb-3 col-9">
                    <label for="category" class="form-label">Kategorija</label>
                    <div class="input-group">
                        <input
                            id="category"
                            name="name"
                            type="text"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">
                            Kategorija je obvezna.
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-3">
                    <label for="exampleColorInput" class="form-label"
                        >Barva</label
                    >
                    <input
                        type="color"
                        class="form-control form-control-color"
                        id="exampleColorInput"
                        value="#563d7c"
                        title="Izberi barvo kategorije"
                        name="color"
                        required
                    />
                    <div class="invalid-feedback">
                        Barva glavne kategorije je obvezna.
                    </div>
                </div>
            </div>

            <div id="subCatBody" class="mb-3">
                <label for="SubCategories" class="form-label"
                    >Podkategorije:</label
                >
                <button
                    id="addSubCategory"
                    type="button"
                    class="btn btn-outline-success ms-2 mb-2"
                >
                    <b>+</b>
                </button>
                <button
                    id="deleteSubCategory"
                    type="button"
                    class="btn btn-outline-warning mb-2"
                >
                    <b>-</b>
                </button>
            </div>
            <div class="input-group mb-3">
                <input
                    id="SubCategories"
                    name="subCategories[]"
                    type="text"
                    class="form-control"
                    required
                />
            </div>

            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-secondary">Dodaj</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascripts/addCats.js"></script>
