<% layout('layouts/boilerplate')%>
<div class="row">
    <h1>Dodaj kategorijo</h1>
    <div class="col-md-6">
        <form
            action="/categories"
            class="validated-form"
            method="POST"
            id="addNewExpense"
            novalidate
        >
            <div class="mb-3">
                <label for="category" class="form-label">Kategorija</label>
                <div class="input-group">
                    <input
                        id="category"
                        name="name"
                        type="text"
                        class="form-control"
                        required
                    />
                    <div class="invalid-feedback">Kategorija je obvezna.</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="SubCategories" class="form-label"
                    >Pod kategorije</label
                >
                <div class="input-group mb-3">
                    <input
                        id="SubCategories"
                        name="subCategories[]"
                        type="text"
                        class="form-control"
                        required
                    />
                </div>
                <div class="invalid-feedback">Pod kategorija je obvezna.</div>
                <div class="input-group mb-3">
                    <input
                        id="SubCategories"
                        name="subCategories[]"
                        type="text"
                        class="form-control"
                        required
                    />
                </div>
                <div class="invalid-feedback">Pod kategorija je obvezna.</div>
            </div>

            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-secondary">Dodaj</button>
            </div>
        </form>
    </div>
</div>
