<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12 mb-3 d-flex align-items-center justify-content-between">
        <h1>Trajniki</h1>
        <a class="btn btn-secondary btn-sm" href="/debits/new">Dodaj</a>
    </div>
    
    <div class="col-md-12">
                            
        <ul class="list-group">
            <% for(let debit of debits){ %>
                    <li class="list-group-item <%= debit.enable ? "list-group-item-success":"list-group-item-secondary" %> d-flex align-items-center justify-content-between">
                        <%=`${debit.category.parentCategory.name} - ${debit.category.name}`%>
                        <div class="d-flex align-items-center justify-content-between">
                            <a class="me-2 btn btn-light btn-sm" href="/debits/<%= debit.id %>/edit">Uredi</a>
                            <form class="" action="/debits/<%=debit._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-warning" type="submit">Izbriši</button>
                            </form>
                        </div>
                    </li>
            <% } %>
        </ul>
    </div>
</div>
